@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

/* Header */
.header {
  height: 530px;
  background: url(../img/header.jpg) no-repeat center center / cover;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
  z-index: 2;
  position: relative;
}

.header nav .login-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header .logo {
  width: 270px;
  margin: 20px 0;
}


.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 15.54%,
    rgba(0, 0, 0, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%
  );
}

